.card {
    margin: 10px;
    width: 18rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.botones.cards {
    display: flex;
    justify-content: space-between;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}